/* --------------------------------------------------
	18.0 Blog
-------------------------------------------------- */

.blog-pagination .pagination {
  margin: 0;
  li a {
    border: none;
    background: none;
    color: #999;
    font-size: 1.2em;
    &:hover {
      border: none;
      color: #111;
    }
  }
}

.blog-post-nav {
  padding-top: 100px;
  padding-bottom: 50px;
  .prev-btn, .next-btn {
    display: inline-block;
    color: #999;
  }
  .prev-btn:hover, .next-btn:hover {
    color: #111;
  }
  .prev-btn {
    float: left;
    padding-left: 15px;
  }
  .next-btn {
    float: right;
    padding-right: 15px;
  }
}

/* ---- 18.1 Blog Columns ---- */

.blog-columns .blog-post, .blog-classic .blog-post {
  border-top: 1px solid #f8f8f8;
  background: #f8f8f8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-columns .blog-post:hover, .blog-classic .blog-post:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.blog-columns .blog-post .post-img, .blog-classic .blog-post .post-img {
  display: block;
}

.blog-columns .blog-post .post-img img, .blog-classic .blog-post .post-img img {
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.blog-columns .blog-post .post-img:hover img, .blog-classic .blog-post .post-img:hover img {
  opacity: .8;
}

.blog-columns .blog-post .bp-content, .blog-classic .blog-post .bp-content {
  padding: 40px 50px 50px 50px;
}

.blog-columns .blog-post .bp-content .post-meta .post-date i, .blog-classic .blog-post .bp-content .post-meta .post-date i, .blog-columns .blog-post .bp-content .post-meta .post-comments i, .blog-classic .blog-post .bp-content .post-meta .post-comments i {
  display: inline-block;
  padding-right: 9px;
  font-size: 18px;
  vertical-align: middle;
  color: #ccc;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.blog-columns .blog-post .bp-content .post-meta .post-date span, .blog-classic .blog-post .bp-content .post-meta .post-date span, .blog-columns .blog-post .bp-content .post-meta .post-comments span, .blog-classic .blog-post .bp-content .post-meta .post-comments span {
  display: inline-block;
  padding-left: 10px;
  border-left: 1px solid #ececec;
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-size: .75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #999;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.blog-columns .blog-post .bp-content .post-meta .post-date:hover i, .blog-classic .blog-post .bp-content .post-meta .post-date:hover i, .blog-columns .blog-post .bp-content .post-meta .post-date:hover span, .blog-classic .blog-post .bp-content .post-meta .post-date:hover span, .blog-columns .blog-post .bp-content .post-meta .post-comments:hover i, .blog-classic .blog-post .bp-content .post-meta .post-comments:hover i, .blog-columns .blog-post .bp-content .post-meta .post-comments:hover span, .blog-classic .blog-post .bp-content .post-meta .post-comments:hover span {
  color: #111;
}

.blog-columns .blog-post .bp-content .post-meta .post-comments, .blog-classic .blog-post .bp-content .post-meta .post-comments {
  float: right;
}

.blog-columns .blog-post .bp-content .post-title, .blog-classic .blog-post .bp-content .post-title {
  display: block;
  padding: 25px 0 20px 0;
  color: #111;
}

.blog-columns .blog-post .bp-content .post-title h3, .blog-classic .blog-post .bp-content .post-title h3, .blog-columns .blog-post .bp-content .post-title .page-title .subheading, .page-title .blog-columns .blog-post .bp-content .post-title .subheading, .blog-classic .blog-post .bp-content .post-title .page-title .subheading, .page-title .blog-classic .blog-post .bp-content .post-title .subheading, .blog-columns .blog-post .bp-content .post-title h4, .blog-classic .blog-post .bp-content .post-title h4, .blog-columns .blog-post .bp-content .post-title .ft-tabs .tabs-list li a .tab-group .tab-heading, .ft-tabs .tabs-list li a .tab-group .blog-columns .blog-post .bp-content .post-title .tab-heading, .blog-classic .blog-post .bp-content .post-title .ft-tabs .tabs-list li a .tab-group .tab-heading, .ft-tabs .tabs-list li a .tab-group .blog-classic .blog-post .bp-content .post-title .tab-heading, .blog-columns .blog-post .bp-content .post-title .testimonials-3col .t-item blockquote footer cite, .testimonials-3col .t-item blockquote footer .blog-columns .blog-post .bp-content .post-title cite, .blog-classic .blog-post .bp-content .post-title .testimonials-3col .t-item blockquote footer cite, .testimonials-3col .t-item blockquote footer .blog-classic .blog-post .bp-content .post-title cite, .blog-columns .blog-post .bp-content .post-title .testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer cite, .testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer .blog-columns .blog-post .bp-content .post-title cite, .blog-classic .blog-post .bp-content .post-title .testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer cite, .testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer .blog-classic .blog-post .bp-content .post-title cite, .blog-columns .blog-post .bp-content .post-title .wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer cite, .wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer .blog-columns .blog-post .bp-content .post-title cite, .blog-classic .blog-post .bp-content .post-title .wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer cite, .wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer .blog-classic .blog-post .bp-content .post-title cite, .blog-columns .blog-post .bp-content .post-title .testimonials-3col .t-item .bg-maintenance .content-wrapper .content-inner p footer cite, .testimonials-3col .t-item .bg-maintenance .content-wrapper .content-inner p footer .blog-columns .blog-post .bp-content .post-title cite, .blog-classic .blog-post .bp-content .post-title .testimonials-3col .t-item .bg-maintenance .content-wrapper .content-inner p footer cite, .testimonials-3col .t-item .bg-maintenance .content-wrapper .content-inner p footer .blog-classic .blog-post .bp-content .post-title cite, .blog-columns .blog-post .bp-content .post-title .bg-maintenance .content-wrapper .content-inner .testimonials-3col .t-item p footer cite, .bg-maintenance .content-wrapper .content-inner .testimonials-3col .t-item p footer .blog-columns .blog-post .bp-content .post-title cite, .blog-classic .blog-post .bp-content .post-title .bg-maintenance .content-wrapper .content-inner .testimonials-3col .t-item p footer cite, .bg-maintenance .content-wrapper .content-inner .testimonials-3col .t-item p footer .blog-classic .blog-post .bp-content .post-title cite, .blog-columns .blog-post .bp-content .post-title .team-3col .t-item .t-info .t-role, .team-3col .t-item .t-info .blog-columns .blog-post .bp-content .post-title .t-role, .blog-classic .blog-post .bp-content .post-title .team-3col .t-item .t-info .t-role, .team-3col .t-item .t-info .blog-classic .blog-post .bp-content .post-title .t-role, .blog-columns .blog-post .bp-content .post-title .team-4col .t-item .t-info .t-role, .team-4col .t-item .t-info .blog-columns .blog-post .bp-content .post-title .t-role, .blog-classic .blog-post .bp-content .post-title .team-4col .t-item .t-info .t-role, .team-4col .t-item .t-info .blog-classic .blog-post .bp-content .post-title .t-role, .blog-columns .blog-post .bp-content .post-title .freelancer-about .t-item .t-info .t-role, .freelancer-about .t-item .t-info .blog-columns .blog-post .bp-content .post-title .t-role, .blog-classic .blog-post .bp-content .post-title .freelancer-about .t-item .t-info .t-role, .freelancer-about .t-item .t-info .blog-classic .blog-post .bp-content .post-title .t-role, .blog-columns .blog-post .bp-content .post-title .t-join .t-info .t-role, .t-join .t-info .blog-columns .blog-post .bp-content .post-title .t-role, .blog-classic .blog-post .bp-content .post-title .t-join .t-info .t-role, .t-join .t-info .blog-classic .blog-post .bp-content .post-title .t-role, .blog-columns .blog-post .bp-content .post-title .login-2 .bg-overlay .form-wrapper .form-content .cards-header, .login-2 .bg-overlay .form-wrapper .form-content .blog-columns .blog-post .bp-content .post-title .cards-header, .blog-classic .blog-post .bp-content .post-title .login-2 .bg-overlay .form-wrapper .form-content .cards-header, .login-2 .bg-overlay .form-wrapper .form-content .blog-classic .blog-post .bp-content .post-title .cards-header, .blog-columns .blog-post .bp-content .post-title .login-2 .bg-overlay .form-wrapper .social-signup .social-card .sc-lead, .login-2 .bg-overlay .form-wrapper .social-signup .social-card .blog-columns .blog-post .bp-content .post-title .sc-lead, .blog-classic .blog-post .bp-content .post-title .login-2 .bg-overlay .form-wrapper .social-signup .social-card .sc-lead, .login-2 .bg-overlay .form-wrapper .social-signup .social-card .blog-classic .blog-post .bp-content .post-title .sc-lead, .blog-columns .blog-post .bp-content .post-title h5, .blog-classic .blog-post .bp-content .post-title h5, .blog-columns .blog-post .bp-content .post-title .ft-boxed-hover ul li .hover-content .ft-heading, .ft-boxed-hover ul li .hover-content .blog-columns .blog-post .bp-content .post-title .ft-heading, .blog-classic .blog-post .bp-content .post-title .ft-boxed-hover ul li .hover-content .ft-heading, .ft-boxed-hover ul li .hover-content .blog-classic .blog-post .bp-content .post-title .ft-heading, .blog-columns .blog-post .bp-content .post-title .ft-tabs .tabs-list li a .tab-group .tab-info, .ft-tabs .tabs-list li a .tab-group .blog-columns .blog-post .bp-content .post-title .tab-info, .blog-classic .blog-post .bp-content .post-title .ft-tabs .tabs-list li a .tab-group .tab-info, .ft-tabs .tabs-list li a .tab-group .blog-classic .blog-post .bp-content .post-title .tab-info, .blog-columns .blog-post .bp-content .post-title .sidebar .comments-widget .widget-item span .widget-comm-title, .sidebar .comments-widget .widget-item span .blog-columns .blog-post .bp-content .post-title .widget-comm-title, .blog-classic .blog-post .bp-content .post-title .sidebar .comments-widget .widget-item span .widget-comm-title, .sidebar .comments-widget .widget-item span .blog-classic .blog-post .bp-content .post-title .widget-comm-title, .blog-columns .blog-post .bp-content .post-title .comingsoon .content-wrapper .content-inner .cs-timer .item .title-timer, .comingsoon .content-wrapper .content-inner .cs-timer .item .blog-columns .blog-post .bp-content .post-title .title-timer, .blog-classic .blog-post .bp-content .post-title .comingsoon .content-wrapper .content-inner .cs-timer .item .title-timer, .comingsoon .content-wrapper .content-inner .cs-timer .item .blog-classic .blog-post .bp-content .post-title .title-timer, .blog-columns .blog-post .bp-content .post-title .shop-layout-options span, .shop-layout-options .blog-columns .blog-post .bp-content .post-title span, .blog-classic .blog-post .bp-content .post-title .shop-layout-options span, .shop-layout-options .blog-classic .blog-post .bp-content .post-title span {
  margin: 0;
}

.blog-columns .blog-post .bp-content p, .blog-classic .blog-post .bp-content p {
  margin-bottom: 30px;
}

.blog-preview .blog-post {
  background: #fff;
}

/* ---- 18.2 Blog Masonry ---- */

.blog-masonry .blog-post {
  margin-bottom: 30px;
}

/* ---- 18.3 Blog Classic ---- */

.blog-classic .blog-post {
  margin-bottom: 100px;
}

/* ---- 18.4 Blog Post Single ---- */

.blog-post-single {
  margin-bottom: 100px;
  .post-img {
    margin-bottom: 20px;
  }
  .post-meta {
    .post-date i, .post-comments i {
      display: inline-block;
      padding-right: 9px;
      font-size: 18px;
      vertical-align: middle;
      color: #ccc;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }
    .post-date span, .post-comments span {
      display: inline-block;
      padding-left: 10px;
      border-left: 1px solid #ececec;
      font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
      font-size: .75em;
      letter-spacing: 2px;
      text-transform: uppercase;
      vertical-align: middle;
      color: #999;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }
    .post-date:hover {
      i, span {
        color: #111;
      }
    }
    .post-comments {
      &:hover {
        i, span {
          color: #111;
        }
      }
      float: right;
    }
  }
  .post-title {
    margin: 0;
    padding-top: 30px;
  }
  .blog-post-content {
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      margin-bottom: 0;
    }
    .left-blog-quote {
      margin: 20px 30px 20px -50px;
    }
    .right-blog-quote {
      margin: 20px -50px 20px 30px;
    }
  }
}
