body {
  background-color: #eeeeee;
  margin-top: 0;
}

table {
  border-spacing: 0 !important;
  padding: 2rem 0;
  font-size: 14px;
}

thead {
  background-color: #dcdcdc;
}

th {
  text-transform: capitalize !important;
}

th,
td {
  padding: 0.5rem !important;
}

table,
thead,
th,
td,
tr {
  border: none;
}

pre {
  display: block;
  padding: 20px;
  line-height: 1.6;
  overflow-x: auto;
  white-space: pre;
  color: #c5c8c6;
  background-color: #1d1f21;
  font-size: 20px;
}
